body {
  overflow: hidden;
}

dialog {
  width: 25%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

dialog::backdrop {
  background-color: rgb(34, 34, 34, 0.8);
}

.next_button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(199, 0, 0);
  color: azure;
  cursor: pointer;
}

.next_button:hover {
  background-color: maroon;
}

.welcome_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1149191912/vector/all-national-flags-of-the-world-background-style.jpg?s=612x612&w=0&k=20&c=XKlYWIPF-t8LyZ-LNzXkcpQ1PPpQ4t9IRHOxQxg0y4s=");
}

.game_wrapper {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}

.content_container {
  background-color: rgb(245, 245, 245);
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 20px;
  padding: 50px 0;
}

.content_container h1,
.content_container h3,
.content_container h5 {
  margin: 5px;
}

.title_div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin-bottom: 30px;
}
.play_game_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play_game {
  padding: 12px;
  border: 1px solid black;
  background-color: maroon;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 24px;
}

.play_game:hover {
  background-color: rgb(199, 0, 0);
}

.form_div {
  height: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_usernames {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.form_usernames input {
  border-radius: 20px;
  padding: 7px;
  /* border: none; */
  background-color: rgb(170, 170, 170);
  color: white;
}

.top_gamediv {
  width: 100%;
  height: 20vh;
  background-color: #15b392;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom_gamediv {
  width: 100%;
  height: 77vh;
  background-color: #54c392;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player1_div,
.player2_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 70%;
  width: 20%;
  background-color: rgb(197, 197, 197);
  border-radius: 20px;
}

.scoreboard {
  text-align: center;
  padding: 10px;
  background-color: #ff204e;
  border: 7px solid #5d0e41;
  border-radius: 20px;
  padding: 20px;
  color: #00224d;
}

.country_text {
  color: white;
}

.player1_div_active,
.player2_div_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #059212;
  height: 70%;
  background-color: #06d001;
  width: 20%;
  border-radius: 20px;
  color: black;
}

.country_card_div {
  width: 23%;
  border: 5px solid black;
  display: flex;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: #d2ff72;
}

.country_card_div:hover {
  background-color: #ffeaa7;
}

.country_image {
  width: 90%;
  /* object-fit: fill; */
  height: 200px;
}

.game_ended {
  width: 100%;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1149191912/vector/all-national-flags-of-the-world-background-style.jpg?s=612x612&w=0&k=20&c=XKlYWIPF-t8LyZ-LNzXkcpQ1PPpQ4t9IRHOxQxg0y4s=");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_ended_content {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
}

.progress_bar {
  width: 100%;
  height: 30px;
}

.progressbar_div {
  height: 3vh;
  background-color: rgb(230, 176, 110);
}

.edit_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.edit_block input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.edit_block button {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.top_gamediv h1 {
  margin: 0;
  padding: 0;
}

.your_turn {
  font-weight: bolder;
  font-size: 24px;
  margin: 0;
}
